MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/price-tracker

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

ATLAS_PUBLIC_KEY=your_atlas_public_key
ATLAS_PRIVATE_KEY=your_atlas_private_key
ATLAS_GROUP_ID=your_atlas_project_id

B2_KEY_ID=your_b2_key_id
B2_APP_KEY=your_b2_app_key
B2_BUCKET_NAME=your_b2_bucket_name
B2_REGION=your_b2_region
B2_ENDPOINT=your_b2_endpoint